a {
  color: black;
  text-decoration: none;
}
body {
  width: 100%;
}
div.company {
  font-family: "Courier New";
  font-size: 20px;
  font-weight: normal;
  margin-top: 50px;
  text-align: center;
}
div.services {
  font-family: "Courier New";
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
div.email {
  font-family: "Courier New";
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}
div.mobile {
  font-family: "Courier New";
  text-align: center;
}
hr {
  style: 1px solid black;
  width: 500px;
}

